<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calpoly.dfjimene"
    android:versionCode="3"
    android:versionName="1.1.3" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="edu.calpoly.dfjimene.SessionListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.calpoly.dfjimene.SessionDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_session_details"
            android:parentActivityName="edu.calpoly.dfjimene.SessionListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.dfjimene.SessionListActivity" />
        </activity>

        <provider
            android:name="edu.calpoly.dfjimene.data.TimeToTrainContentProvider"
            android:authorities="edu.calpoly.dfjimene.data.contentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name="edu.calpoly.dfjimene.AddEntryActivity"
            android:label="@string/title_activity_select_and_edit_entry"
            android:parentActivityName="edu.calpoly.dfjimene.SessionDetailsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.dfjimene.SessionDetailsActivity" />
        </activity>
        <activity
            android:name="edu.calpoly.dfjimene.ViewStrengthEntryActivity"
            android:label="@string/title_activity_view_entry"
            android:parentActivityName="edu.calpoly.dfjimene.SessionDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.dfjimene.SessionDetailsActivity" />
        </activity>
        <activity
            android:name="edu.calpoly.dfjimene.ViewCardioEntryActivity"
            android:label="@string/title_activity_view_cardio_entry"
            android:parentActivityName="edu.calpoly.dfjimene.SessionDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.dfjimene.SessionDetailsActivity" />
        </activity>
    </application>

</manifest>